body {
    margin: 0em;
    font-family: sans-serif;
}
/* Header of sight */
#Header {
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    padding: 0.75em;
    justify-content: center;
}
#Header a, #Header img{
    height: 2em;
    width: 15em;
}
#Header a:hover, #Header img:hover{
    filter: saturate(10);
    transition: 500ms;
}
/* Main Body of sight */
#main {
    background-color: aqua;
    text-align: center;
    padding: 1em 0em 17.5em 0em;
}
#Explanation {
    background-color: antiquewhite;
    margin: 14em 6em 0em 8.5em;
    border: 0.1em groove grey;
}
ul li{
    background-color: bisque;
    list-style-type: none;
    margin-top: 1em;
    padding: 1em;
    border: 0.1em groove grey;
}
/* footer of sight */
footer {
    background-color: antiquewhite;
    text-align: right;
    padding: 0.01em;
    font-size: 1em;
    display: flex;
    justify-content: flex-end;
}
footer a{
    margin: 0.5em 2em 0em 0em;
    text-decoration: none;
}
footer img  {
    height: 2.5%;
    width: 2.5%;
}
/* Media Queries */
 /* Tablet View */
 @media (min-width: 768px) and (max-width: 992px) {
    #options {
        margin: 0em 5em 0em 10em;
    }
    #Explanation-2 {
        margin: 1em 5em 0em 5em;
    }
    #Explanation {
        margin: 0.64em 14em 0em 14em;
    }
}
 /* Mobile View */
@media (min-width: 416px) {
    #Explanation {
        margin: 0.64em 2em 0em 2em;
    }
    #main {
        background-color: aqua;
        text-align: center;
        padding: 1em 0em 17.5em 0em;
    }
    
}/* Media Queries */
 /* Large Monitor View */
 @media (min-width: 1400px){
    #main {
        padding: 22em 0em 22.5em 0em;
    }
    footer a{
        position: relative;
        top: 0.5em;
    }
    footer {
        padding: 0.01em 0.01em 0.5em 0.01em;
    }
}
 /* Tablet View */
 @media (min-width: 768px) {
    /* Pending Update */
}
/* Mobile View (iphone 11)*/
@media (max-width: 420px) {
    /*  Fix for white space -> start  */
    html,body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    /*  Fix for white space -> end  */
    #main {
        background-color: rgb(0, 183, 255);
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 18em 0em 17.9em 0em;
    }
    #Header {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #Header a, #Header img{
        height: 2em;
        width: 15em;
        margin-top: 0.25em;
        margin-right: 17em;
    }
    h3 {
        font-size: 0.9em;
        transition: 500ms;
    }
    #title:hover {
        color: rgb(43, 226, 226);
        font-size: 0.8em;
        transition: 500ms;
    }
    #Explanation {
        margin: 0em 0em 0em 0em;
        font-size: 1.5em;
    }
    footer {
        background-color: antiquewhite;
        text-align: right;
        padding: 0.5em;
        font-size: 1.3em;
        display: flex;
        justify-content: flex-end;
    }
    footer img  {
        height: 15%;
        width: 15%;
    }
    footer a{
        position: relative;
        top: 0.3em;
    }
}
