body {
    margin: 0em;
    font-family: sans-serif;
}
/* Header of sight */
#Header {
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    padding: 0.75em;
    justify-content: center;
}
#Header a, #Header img{
    height: 2em;
    width: 15em;
}
#Header a:hover, #Header img:hover{
    filter: saturate(10);
    transition: 500ms;
}
/* Main Body of sight */
#main {
    background-color: aqua;
    text-align: center;
    padding: 1em 0em 17.5em 0em;
}
#Explanation {
    background-color: antiquewhite;
    margin: 14em 6em 0em 8.5em;
    border: 0.1em groove grey;
}
ul li{
    background-color: bisque;
    list-style-type: none;
    margin-top: 1em;
    padding: 1em;
    border: 0.1em groove grey;
}
/* footer of sight */
footer {
    background-color: antiquewhite;
    text-align: right;
    padding: 0.01em;
    font-size: 1em;
    display: flex;
    justify-content: flex-end;
}
footer a{
    margin: 0.5em 2em 0em 0em;
    text-decoration: none;
}
footer img  {
    height: 2.5%;
    width: 2.5%;
}
/* Media Queries */
 /* Tablet View */
 @media (min-width: 768px) and (max-width: 992px) {
    #options {
        margin: 0em 5em 0em 10em;
    }
    #Explanation-2 {
        margin: 1em 5em 0em 5em;
    }
    #Explanation {
        margin: 0.64em 14em 0em 14em;
    }
}
 /* Mobile View */
@media (max-width: 767px) {
    #options {
        margin: 0em 5em 0em 5em;
    }
    #Explanation-2 {
        margin: 1em 5em 0em 5em;
    }
    #Explanation {
        margin: 0.64em 5em 0em 5em;
    }
}
 /* Large Monitor View */
@media (min-width: 1400px){
    #main {
        padding: 7em 0em 24.6em 0em;
    }
}