body {
    margin: 0em;
    font-family: sans-serif;
}
/* Header of sight */
#Header {
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    padding: 0.1em;
}
#Header a, #Header img{
    height: 2em;
    width: 15em;
    margin-top: 0.1em;
    margin-right: 17em;
}
/* Main Body of sight */
#main {
    background-color: aqua;
    text-align: center;
    padding: 1em 0em 19.95em 0em;
}
#Explanation {
    background-color: antiquewhite;
    margin: 14em 6em 0em 8.5em;
    border: 0.1em groove grey;
}
ul li{
    background-color: bisque;
    list-style-type: none;
    margin-top: 1em;
    padding: 1em;
    border: 0.1em groove grey;
}
/* footer of sight */
footer {
    background-color: antiquewhite;
    text-align: right;
    padding: 0.01em;
    font-size: 1em;
    display: flex;
    justify-content: flex-end;
}
footer a{
    margin: 0.5em 2em 0em 0em;
    text-decoration: none;
}
footer img  {
    height: 2.5%;
    width: 2.5%;
}